body, html, #root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* bara innehållet */
  width: 100%;
  flex: 1;
}
