h1 {
    text-align: center;
    margin-top: 20px;
}

h3 {
    margin-top: 0px;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 20%;
}

.input-name {
    margin-top:0 px;
    font-size: 22px;
    margin-bottom: 5px;
    margin-left: 20%;
    max-width: 50%;
}

.management-items-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.admin-list-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    min-width: 600px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #f9f9f9;
}

.admin-list-card-info {
    flex-grow: 1;
    text-align: left;
    position: relative;
    padding-left: 10px;
    width: 75%;
}



.edit-card-form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
}

.edit-card-form textarea {
    width: 75%;
    height: 60px;
    resize: vertical;
}

.id 
{
    position:absolute;
    margin-top:0px;
}

.details
{
    margin-bottom: 0px;
    font-style: italic;
    color: gray;
}

.admin-list-card-buttons {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    gap: 10px;
    min-width: 20%;
}

.admin-list-card-buttons button {
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.details-view {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.editable-areas {
    display: grid;
    grid-template-columns: 20% 80%;
    gap: 20px;
}

.input-number {
    margin-top: 0px;
    font-size: 15px;

    max-height: 30px;
    max-width: 10%;
}

p {
    margin-top: 4px;
    margin-bottom: 4px;
}

select {
    margin-top: 0px;
    font-size: 15px;

    max-height: 30px;
    max-width: 40%;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

.admin-nav {
    background-color: #333;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 8%;
    margin-bottom: 20px;
}

.admin-nav a {
    color: white;
    text-decoration: none;
    border: 1px solid grey;
    padding: 8px 12px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px rgb(179, 177, 177);
    margin: 10px 10px;
}

.admin-nav a:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.admin-nav a:active {

    box-shadow: -2px -2px 5px rgb(179, 177, 177);
    
}

.filter-list input {
    margin-bottom: 20px;
    padding: 8px;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.filter-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    border: 2px solid #218838;
    border-radius: 10px;
    background-color: #d2ecd8;
}

.filter-list select {
    margin-bottom: 20px;
    min-height: 50px;  
    padding: 8px;
    min-width: 70%;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.filter-list select option {
    padding: 8px;
    height: 40px;   
}

.admin-buttons button {
    padding: 8px 12px;
    margin: 0 10px;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.admin-buttons button:hover {
    background-color: #218838;
}

/* Popup Styles */

.popup-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-card {
    display: flex;
    flex-direction: column;
    border: 5px solid gold;
    border-radius: 15px;
    padding: 20px;
    background-color: rgb(133, 133, 255)
}