.category-card {
  margin: 1rem;
  border: 1px solid #e5e7eb; /* ljusgrå kant border-radius: 0.5rem; /* rundade hörn */
  background: linear-gradient(180deg, #97d6e7 0%, #3a0695 100%);
  background-image: cover;
  /*height: 160px; /* höjd, kan justeras */
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 2px 5px 11px rgb(0, 0, 0);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
  width: 40vh;
  height: 20vh;
}
.category-card-content {
  padding: 1rem;
  width: 40vh;
  height: 10vh;
  text-align: center;
  background: rgba(255, 255, 255, 0.726);
}

.category-card:hover {
  box-shadow: 3 15px 25px rgb(0, 0, 0);
  transform: translateY(-8px) scale(1.01);
  -webkit-transform: translateY(-8px) scale(1.01);
  -moz-transform: translateY(-8px) scale(1.01);
  -ms-transform: translateY(-8px) scale(1.01);
  -o-transform: translateY(-8px) scale(1.01);
}

.category-card-title {
  font-weight: 600;
  font-size: 2.125rem; /* ca 18px */
  padding: 0 2rem 0 0;
  color: rgb(0, 0, 0);
  text-align: center;
  border: 2px solid rgba(62, 62, 62, 0);
  width: 50%;
  text-shadow: #ffffff 1px 2px 2px;
}

.category-card-description {
  font-size: 1.875rem; /* ca 14px */
  color: #0c0d0f; /* grå text */
  text-align: center;
}
