/* Header.jsx */




  



/* Footer.jsx */

footer {
    padding: 1rem;
    background: #eee;

    
}

/*Layout.jsx*/

.body
{
}

.main-content
{
    /* display: flex;
    flex-direction: column; */
    align-items: center;
    justify-content: center;
    background: linear-gradient(180deg, #c3c7c9 0%, #323232 100%);
    overflow: hidden;

   
}

.main-content .middle-content
{
    min-height: 80%;
}

.footer-content
{
    height: 10%;
}

.header-content
{
    height: 10%;
}
/* Searchbar.jsx */

/* LoginDropBox.jsx */

.login-dropbox
{
    position: absolute;
    right: 0;
    border: 1px solid black;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 99;
    padding: 10px;


}

/* NavLogin.jsx */

.NavLogin 
{
    
    position: relative;
    right: 0;
    margin-right: 10px;
    width: 3rem;
    background-image: url("../src/assets/loginpic.png");
    
}

.NavLogin:hover 
{
    cursor: pointer;

}

/* searchba */
.searchbar-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0rem 0 0rem 0;
    height: 25rem;
}

.welcome-message{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
    height: 100%;
    font-size: 1.5rem;
    font-weight: 500;
    background-image: url('../src/assets/wallpaper.jpg');
    background-size: cover; /* Täcker hela div utan distortion */
    background-position: center; /* Centrerar bilden */
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.5); /* Svart overlay med 50% opacitet */
    background-blend-mode: multiply;
}
.welcome-message h1{
    padding-top: 3rem;
}
.explore-prompt{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    background: rgb(19, 19, 19);
    width: 100%;
}   

.explore-prompt p{
    text-align: center;
    width: 70%;
    font-size: 2.6rem;
    font-weight: 500;
    margin-bottom: 2rem;
    color: #e6e6e6;
    text-shadow: #7286ac4e 2px 2px 10px;
}   

.carousels {
    padding-top: 2rem;
    
}
.carousels h2{
    padding-top: 6rem;
    font-size: 2.3rem;
    font-weight: 500;
    margin-left: 3rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.divider{
    height: 2px;
    background: rgb(255, 255, 255);
    margin-bottom: 4rem; 
    box-shadow: rgb(255, 255, 255) 5px 5px 14px;
}


/* detailedsearch */
