.login-dropbox {
    z-index: 99;
    border: 3px solid gold;
    position:absolute;
    top: 5rem;
    right: 1rem;
    max-width: 200px;
}

.user-drop-menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.user-drop-menu p{
    text-align: left;
    max-width: 99%;
    width: 98%;
    padding: 0px;
}

.user-drop-menu p:hover {
    cursor: pointer;
    border: 1px solid gold;
}

.my-bookings {
    text-align: left;
    max-width: 99%;
    width: 98%;
    padding: 0px;
}