.display-list-container {
  border: 1px solid #dddddd00;
  margin: 0;
  /* padding-top: 5rem;
  padding-bottom: 8rem; */
}

.my-swiper {
  width: 100%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

